.container {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 40px auto;
    padding: 20px 0;
    background: #FEFEFF;
    border-radius: 8px;
    box-shadow: 1px 7px 33px 9px rgba(34, 60, 80, 0.2);
    
}

.leftSide {
    padding: 0 25px;
    background-color: var(--bg-color-first);
}

.leftTitle {
    font-size: 16px;
    line-height:33px;  
}

.rightSide {
    width: 80%;
}

.rightTitle {
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;   
}

.slider {
    margin-top: 30px;
    max-width: 200px;
}

