.container {
    width: 70%;
    margin: 40px auto;
    padding: 16px;
    background: #FEFEFF;
    border-radius: 8px;
    box-shadow: 1px 7px 33px 9px rgba(34, 60, 80, 0.2);
}
.table-container{
    height: 500px;
}

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;

}